serviceAccount:
  create: true
clusterRole:
  rules:
  - apiGroups: [""]
    resources: ["services"]
    verbs: ["list", "watch"]
  - apiGroups: ["extensions","networking.k8s.io"]
    resources: ["ingresses"]
    verbs: ["list", "watch"]    
image:
  repository: ghcr.io/logicfox/external-mdns
  tag: latest@sha256:097efc10563b707806a125a49a240ef09bc0b7258c09b048afa6455ec35d1f9d
args:
- -source=ingress
- -source=service
securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 10001
  runAsGroup: 10001
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
resources:
  requests:
    memory: 64Mi
  limits:
    memory: 64Mi